@import "tailwindcss";

/* Custom styles for QuickBillr */
.starting {
    opacity: 0;
    transform: translateY(1.5rem);
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 750ms;
}

.duration-750 {
    transition-duration: 750ms;
}
